
/*..............................................................................
 * COLORS
 * Time For School Patlette @ Colourlovers.com
 * http://www.colourlovers.com/palette/2278/time_for_school
 *.............................................................................*/
$slate: #556270;
$offblue: #AABBCC;
$dark: #353841;
$offwhite: #FFFFED;
$pencil: #FBD405;


/*..............................................................................
 * ANIMATION
 *.............................................................................*/
$animationDuration: 2s;
$animationStartDelay: 5;
$fastestSpeed: 10s;
$midSpeed: 16s;
$commonSpeed: 24s;

