.idea
.DS_Store
target
CoffeeBar/build
CoffeeBar/CoffeeBar.xcodeproj/project.xcworkspace/xcuserdata/timmattison.xcuserdatad/UserInterfaceState.xcuserstate
CoffeeBar/CoffeeBar.xcodeproj/xcuserdata/timmattison.xcuserdatad/xcdebugger
