@-webkit-keyframes go-to-foreground {
    0% {
        -webkit-transform: translateX(0);
        z-index: 0;
    }
    49% {
        z-index: 0;
    }
    50% {
        -webkit-transform: translateX(50%);
        z-index: 1;
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes go-to-background {
    0% {
        -webkit-transform: translateX(0);
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        -webkit-transform: translateX(-50%);
        z-index: 0;
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

.go-to-foreground {
    -webkit-animation: go-to-foreground ease-in-out 2s;
    z-index: 1;
}

.go-to-background {
    -webkit-animation: go-to-background ease-in-out 2s;
    z-index: 0;
}

.in-foreground {
    z-index: 1;
}

.in-background {
    z-index: 0;
}

.in-far-background {
    z-index: -1;
}
